<header>
  <h1>USERS MANAGEMENT</h1>
</header>

<nav>
  <div class="searchForm">
    <form #search="ngForm" (keydown.enter)='searchForm(search.value)'>

      <p></p>

      <div class="searchInput">
        <input name="search"
               class="searchInput"
               type="text"
               placeholder="Search"
               #searchModel="ngModel"
               ngModel>
      </div>

      <div class="radioButtons">
        <div class="button">
          <input id="name"
                 type="radio"
                 class="custom-control-button"
                 value=""
                 checked
                 name="button"
                 #nameModel="ngModel"
                 ngModel>
          <label class="custom-control-label" for="name">Name</label>
        </div>
        <div class="button">
          <input id="address"
                 type="radio"
                 class="custom-control-button"
                 value="address"

                 name="button"
                 #addressModel="ngModel"
                 ngModel>
          <label class="custom-control-label" for="address">Address</label>
        </div>
        <div class="button">
          <input id="age"
                 type="radio"
                 class="custom-control-button"
                 value="age"

                 name="button"
                 #ageModel="ngModel"
                 ngModel>
          <label class="custom-control-label" for="age">Age</label>
        </div>

      </div>


    </form>


  </div>
</nav>
