$breakpoint-phone-start: 230px;
$breakpoint-phone-end: 767px;

header{
  display: grid;
  justify-content: center;

  h1 {
    margin: 2em 0 2em 0;
    font-weight: 500;

    @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
      font-size: 0.8rem;
    }
  }
}

form{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.5em;

  @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
    display: flex;
    flex-direction: column;
  }

  .searchInput{

    input{
      width: 100%;
      padding: 0.5em;
    }

    @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
      margin-bottom: 0.5em;
    }
  }

  .radioButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 1em 0 1em;

    @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .button{
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 0 0.5em 0 0.5em;
      align-items: center;

      @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
        grid-template-columns: 1fr 1fr;
      }

      label{
        font-size: 12px;
      }
      input{
        margin-top: 0;
        width: 1.3em;
        height: 1.3em;
      }
    }
  }
}
