header{

  display: grid;
  justify-content: center;

  h1 {
    font-weight: 300;
    margin: 2em 0 2em 0;
    font-weight: 500;
  }
}

form{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.5em;

  .searchInput{

    input{
     width: 100%;
      padding: 0.5em;
    }

  }

  .radioButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 1em 0 1em;

    .button{
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 0 0.5em 0 0.5em;
      align-items: center;

      label{
        font-size: 12px;
      }
      input{
        margin-top: 0;
        width: 1.3em;
        height: 1.3em;

      }
    }
  }
}
