<main>
  <article *ngFor="let user of arrayOfUsers">
    <section class="image">
      <img src="{{user.picture.thumbnail}}">
    </section>

    <section class="name">
      <h4>Name</h4>
      <div class="fullName">
        <p>{{user.name.title}}</p>
        <p>{{user.name.first}}</p>
        <p>{{user.name.last}}</p>
      </div>
    </section>

    <section class="address">
      <h4>Address</h4>
      <div class="fullAddress">
        <p>{{user.location.street}}</p>
        <p>{{user.location.city}}</p>
      </div>
    </section>

    <section class="age">
      <h4>Age</h4>
      <p>{{user.dob.age}}</p>
    </section>

    <section class="deleteUser">
      <button id="{{user.id.value}}">X</button>
    </section>

  </article>
</main>
