$padding-section: 0.5em;
$breakpoint-phone-start: 230px;
$breakpoint-phone-end: 767px;

main{
  border: 1px solid rgb(165, 155, 155);
  background: #D6E0ED;
  display: grid;
  grid-auto-rows: 1fr;
}

article{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 3fr;
  border-bottom: 1px solid rgb(165, 155, 155);
  padding: 0.5em 0.5em 0.5em 0.5em;

  @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
    display: block;
    width: 100%;
    position: relative;
  }

  .image{
    display: grid;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    img{
      border-radius: 50%;
    }
  }

  .name, .address, .age {
    padding-left: $padding-section;

    @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 0.3em;
    }

    h4{
      margin: 0;
      font-size: 13px;
    }

    p{
      font-size: 12px;
      margin: 0;

      @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
        padding-left: 0.2em;
      }
    }
  }

  .deleteUser{
    position: relative;

    @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-phone-end){
      position: absolute;
      top:1em;
      right: 1em;
    }
    span{
      position: absolute;
      top:0;
      right: 0;
    }

    span:hover{
      cursor: pointer;
      color: black;
    }
  }
}

.loading{
  height: 50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
