$breakpoint-phone-start: 230px;
$breakpoint-tablet-end: 1023pxpx;
$breakpoint-desktop-start: 1024px;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  font-family: Arial;
  color: rgb(112, 112, 112);

  @media (min-width: $breakpoint-phone-start) and(max-width: $breakpoint-tablet-end){
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop-start) {
    padding: 0 25% 0 25%;
  }

}

